@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

img {
  vertical-align: bottom;
}

body {
  font-family: 'Lato';
}

.is-raleway {
  font-family: 'Raleway';
}
/*=================ヘッダー==================*/
.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  z-index:1;
}

.header_inner {
  margin: 0 auto;
  padding: 0 100px;
}

.header_inner_icon {
  float: left;
  margin-left: 40px;
}

.head-button {
  margin-right: 40px;
  float: right;
  background-color: #74cfae;
}

.head-button a {
  background-color: #74cfae;
  color: #fff;
  transition-duration: .3s;
  padding: 14px 12px;
  display: inline-block;
  text-decoration: none;
}

.head-button:hover a {
  color: #333;
  transition: 0.3s;
}

/*@media (min-width:1200px){
  .header{
    width: 1100px;
  }
}*/
/*@media (min-width:768px){
  .header{
    width: 97%;
  }

  .head-button {
    margin-right: 0;
  }
}
@media (max-width:767px){
  .header{
    width: 97%;
  }
  .head-button a{
    display: none;
  }
  .humberger{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  .humberger div{
    height: 3px;
    background-color: #ddd;
    margin-bottom: 4.5px;
    width: 30px;
  }
  .humberger div:last-child{
    margin-bottom: 0;
  }
}*/

.main {
  height: 100%;
  /*ヘッダー分のpadding*/
  padding-top: 78px;
}

/*@media (min-width:768px){
  .main {
    width: 97%;
  }
}*/

/*===================テーマ=====================*/

.theme-box {
    text-align: center;
    padding: 250px 0;
    box-sizing: border-box;
}

.bolt-theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  /*font-family: 'Raleway';*/
}

.bolt-boot {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}


.theme {
  /*height: 600px;*/
  background-color: #f2f2f2;
}

/*@media (min-width:1200px){
  .theme {
    width: 1100px;
  }
}*/
/*@media (min-width:768px){
  .theme {
    width: 97%;
  }
}*/
/*@media (max-width:767px){
  .theme {
    padding: 160px 0 130px;
  }
  .theme {
    width: 97%;
  }
  .bolt-theme{
    font-size: 80px;
  }
}*/


/*=====================what we can do?========================*/

.what {
  padding-top: 50px;
  background-color: #74cfae;
}

.image-box {
  float: left;
  /*3回目レビュー指摘箇所*/
  padding-left: 170px;
}

.what-box {
  float: left;
  width: 50%;
  text-align: center;
  margin-left: 140px;
  margin-top: 20px;
}

.what-heading {
  font-size: 24px;
  color: white;
  /*font-family: 'Raleway';*/
}

.what-text {
  font-size: 20px;
  margin-top: 35px;
  color: white;
}

/*@media (min-width: 1200px){
  .what {
    width: 1100px;
  }
  .image-box {
    float: left;
    padding-left: 100px;
  }
  .what-box {
    float:right;
    text-align: center;
  }
}*/
/*@media (max-width: 1099px){
  .what {
    padding-bottom: 25px;
  }
  .inner {
    width: 97%;
  }
  .what-box {
    float: none;
    margin: 0 auto;
  }
  .image-box {
    float: none;
    margin-bottom: 20px;
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width:767px){
  .what-text {
    width: auto;
  }
}*/

/*=======================画像６つ作品=========================*/

.work {
  padding: 60px 0 70px 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.work-text {
  /*padding-top: 60px;*/
  text-align: center;
  font-size: 24px;
  /*font-family: 'Raleway';*/
}

.work-image-box {
  margin-top: 40px;
}

.work-image:nth-child(-n+3) {
  margin-top: 0;
}

.work-image:nth-child(3n+1) {
  margin-left: 0;
}


.work-image {
  margin-left: 100px;
  margin-top: 80px;
  float: left;
  opacity: 0.7;
}

.work-image:hover {
  opacity: 1.0;
  transition: 0.3s;
}

.work-box-foot {
  box-sizing: border-box;
  margin-top: 90px;
}

.work-foot-text {
    vertical-align: middle;
    display: inline-block;
    width: 600px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    /*font-family: 'Raleway';*/
    margin-left: 140px;
}

.button {
  display: inline-block;
  margin-left: 90px;
  font-size: 12px;
}

.button a {
  background-color: #74cfae;
  color: #fff;
  transition-duration: .3s;
  padding: 14px 20px;
  display: inline-block;
  text-decoration: none;
}

.button:hover a {
  color: #333;
  transition: 0.3s;
}

/*@media (min-width:1200px){
  .work-box {
    width: 1100px;
  }
  .work-image-box {
    display: inline-block;
    margin-bottom: 90px;
  }
  .contents-work__main__thumb{
    display: inline-block;
    margin: 80px 0 0 100px;
  }
  .contents-work__main__thumb:nth-child(3n+1){
    margin-left: 0;
  }
  .contents-work__main__thumb:nth-child(-n+3){
    margin-top: 0;
  }
  .contents-work__foot div{
    margin-left: 90px;
    float: left;
  }
  .contents-work__foot div:first-child{
    margin-left: 0;
  }
}*/



/*===================skills===================*/

.skill-inner {
  margin: 0 auto;
  text-align: center;
}

.skills {
  padding: 70px 0 100px 0;
  background-color: #4e4e4e;
}

.skill-heading {
  font-size: 24px;
  color: white;
  text-align: center;
  /*padding-top: 70px;*/
  /*font-family: 'Raleway';*/
}

.skills-box {
  margin-top: 70px;
  display: inline-block;
  text-align: center;
}

.skill-li {
  float: left;
  margin-left: 180px;
}

.skill-li:first-child {
  margin-left: 0;
}

.skill-text {
  color: white;
  top: 10px;
  font-size: 16px;
  /*font-family: 'Raleway';*/
}

/*@media (min-width:1200px){
  .contents-skill__inner{
    width: 1100px;
  }
  .contents-skill__item__inner__thumb{
    float: left;
    margin-left: 180px; 
  }
  .contents-skill__item__inner__thumb:first-child{
    margin-left: 0;
  }
}*/


/*=====================SNS========================*/

.sns {
  background-color: #f2f2f2;
  position: relative;
}

.awesome-size {
  font-size: 3em;
}

.social {
  text-align: center;
  padding: 200px 0;
  box-sizing: border-box;
}

.social-box:first-child {
  margin-left: 0;
}

.social-color {
  color: #74cfae;
}

.social-box {
  display: inline-block;
  width: 185px;
  padding: 20px 0;
}

.social-box:hover {
  background-color: white;
  transition: 0.3s;
}

/*@media (min-width:1200px){
  .social{
    width: 1100px;
  }
}
@media (min-width:768px){
  .social-box{
    float: none;
    margin: 0 15px;
  }
}
@media (max-width: 1199px){
  .social{
    width: 97%;
  }
}*/
/*@media (min-width:767px){
  .sns{
    padding: 50px 0;
  }

  .social-box {
    display: inline-block;
    width: 185px;
    padding: 20px 0;
  }
}*/

/*===================フッター====================*/

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}
.footer-text {
    color: white;
    text-align: right;
}
/*@media (min-width:1200px){
  .footer-inner{
    width: 1100px;
  }
}
@media (max-width: 1199px){
  .footer-inner{
    width: 97%;
  }
}*/