@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

/*=================ヘッダー==================*/
.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  padding: 15px 0;
  /*z-index:1;*/
}

.header_inner {
  margin: 0 auto;
  padding: 0 100px;
}

.header_inner_icon {
  float: left;
  margin-left: 40px;
}

.head-button {
  margin-right: 40px;
  float: right;
  background-color: #74cfae;
}

.head-button a {
  background-color: #74cfae;
  color: #fff;
  transition-duration: .3s;
  padding: 14px 12px;
  display: inline-block;
  text-decoration: none;
}

.head-button:hover a {
  color: #333;
  transition: 0.3s;
}


.main {
  height: 100%;
}

/*===================テーマ=====================*/

.theme-box {
    text-align: center;
    padding: 250px 0;
    box-sizing: border-box;
}

.bolt-theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  font-family: 'Lato';
}

.bolt-boot {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}


.theme {
  /*height: 600px;*/
  background-color: #f2f2f2;
}


/*=====================what we can do?========================*/

.what {
  padding-top: 50px;
  background-color: #74cfae;
}

.image-box {
  float: left;
}

.what-image {
  margin-left: 170px;
}

.what-box {
  float: left;
  width: 50%;
  text-align: center;
  margin-left: 140px;
  margin-top: 20px;
}

.what-heading {
  font-size: 24px;
  color: white;
}

.what-text {
  font-size: 20px;
  margin-top: 35px;
  color: white;
}

/*=======================画像６つ作品=========================*/

.work {
  padding: 60px 0 70px 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.work-text {
  /*padding-top: 60px;*/
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway';
}

.work-image-box {
  margin-top: 40px;
}

.work-image:nth-child(-n+3) {
  margin-top: 0;
}

.work-image:nth-child(3n+1) {
  margin-left: 0;
}


.work-image {
  margin-left: 100px;
  margin-top: 80px;
  float: left;
  opacity: 0.7;
}

.work-image:hover {
  opacity: 1.0;
  transition: 0.3s;
}

.work-box-foot {
  box-sizing: border-box;
  margin-top: 90px;
}

.work-foot-text {
    vertical-align: middle;
    display: inline-block;
    width: 600px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Raleway';
    margin-left: 140px;
}

.button {
  display: inline-block;
  margin-left: 90px;
  font-size: 12px;
}

.button a {
  background-color: #74cfae;
  color: #fff;
  transition-duration: .3s;
  padding: 14px 20px;
  display: inline-block;
  text-decoration: none;
}

.button:hover a {
  color: #333;
  transition: 0.3s;
}


/*===================skills===================*/

.skills {
  padding: 70px 0 100px 0;
  background-color: #4e4e4e;
}

.skill-heading {
  font-size: 24px;
  color: white;
  text-align: center;
  padding-top: 70px;
}

.skills-box {
  margin-top: 70px;
}

.skill-image:first-child {
  margin-left: 0;
}

.skill-image {
  margin-left: 180px;
}

.skilltext-box {
  position: relative;
  margin-bottom: 100px;
}

.skill-text {
  color: white;
  top: 10px;
  font-size: 16px;
}

.skill-js {
  position: absolute;
  left: 30px;
}

.skill-bs {
  position: absolute;
  left: 330px;
}

.skill-wp {
  position: absolute;
  right: 395px;
}

.skill-ps {
  position: absolute;
  right: 85px;
}

/*=====================SNS========================*/

.sns {
  background-color: #f2f2f2;
  position: relative;
}

.awesome-size {
  font-size: 3em;
}

.social {
  text-align: center;
  padding: 200px 0;
  box-sizing: border-box;
}

.social-box:first-child {
  margin-left: 0;
}

.social-color {
  color: #74cfae;
}

.social-box {
  display: inline-block;
  width: 185px;
  padding: 20px 0;
}

.social-box:hover {
  background-color: white;
}

/*===================フッター====================*/

.footer {
  background-color: #74cfae;
}
.footer-text {
    color: white;
    text-align: right;
    padding: 20px 0 25px 0;
}
